@import 'reset';

body {
    color: #000;
    margin-top: 70px;
}

.my {
    margin: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.close {
    display: none;
}

h3 {
    text-align: center;
}