@font-face {
    font-family: 'Futura PT';
    src: url(../font/futura-pt-heavy.woff2) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../font/PlayfairDisplay-Regular.woff2') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Proxima-nova-regular';
    src: url('../font/proxima-nova-regular.woff2') format('woff');
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #464f54;
    color: #2a2a2a;
   
}
.container {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;   
}
/* title*/

.title_menu {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    position: fixed;
    width: 62%;
    height: 258px;
    right: 0;
    top: 50px;
}

.title_search {
    background-color: #181818;
    width: 100%;
    height: 184px;
    font-family: 'PlayfairDisplay';
}

label {  /*ok*/
    display: block;
    color: #777777;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Proxima-nova-regular';
    margin-left: 65px;
    margin-top: 50px;
    letter-spacing: 4px;
}

input {
    font-family: 'PlayfairDisplay';
    font-size: 48px;
    color: #fefefe;
    background-color: #181818; /* Цвет фона */
    margin-left: 65px;
   width: 800px;
}

input,textarea {
  outline:none;
}


.title_yellow {
    display: flex;
    background-color: #fac02d;
    height: 74px;
    width: 96%;
    right: 0;
}

ul {
    display: flex;
    list-style: none;
}

li {
    width: 80px;
    height: 70px;
}
a {
    color:#fefefe;
    font-size: 40px;   /*фотошоп 48px*/
    padding-left: 15px;
    opacity: 0.6;
}

a:hover {
    opacity: 1;
    font-weight: bold;
}


/*страница*/

.page{
    margin-top: 150px; 
}
.content {
    display: flex;
    background-color: #fff;
}

.content_text {
    width: 990px;
    padding: 190px 130px 190px 50px;
}

.content_indent{
    width: 70px;
    border-right: 3px solid #e8eced; 
}


h2 {  /*ок*/
    color: #b4b4b4;
    font-size: 19.84px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family:'PlayfairDisplay';
    padding-top: 5px;
    padding-bottom: 20px;
}

.my_t {     /*ок*/
    font-size: 77.93px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-family: 'Futura PT';
    letter-spacing: 4px;  
}

.my_span {                  /*как его поднять?*/
    font-size: 30px;
    color:#8f8f8f;
    font-style: oblique;
    font-weight: normal;
    font-family: 'Proxima-nova-regular';
    font-weight: 300;
    margin-bottom: 18px;
}

.text_oblique {
    font-style: oblique;
}
p {
    font-size:26.92px ;
    color: #000;
    font-family: 'PlayfairDisplay';   /*фотошоп пишет Georgia*/
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 40px;
}

