* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.col-6 {
  border: 1px solid rgba(101, 97, 218, 0.4);
  width: 160px;
  border-radius: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
}

.wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}