* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.section_contact{
    background-image: url('../img/bg.png');
    background-size: 100%;  
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

h2 {
    padding-top: 80px;
    font-size: 90px;
    color: #262626;
    text-align: center;
    font-weight: 700;
}

p {
    padding: 24px 400px;
    line-height: 24px;
    font-size: 17px;
    color: #262626;
    text-align: center;
    font-weight: 300;
}

.main {
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
}

.form_wrap {
    width: 500px;
    margin-top: 18px;  
}

input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    background: rgb(108,213,215);
    background: linear-gradient(90deg, rgba(108,213,215,1) 0%, rgba(119,218,219,1) 35%);
    border: none;
    outline: none;
    border-left: 5px transparent;
    padding-left: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

textarea {
    display: block;
    width: 100%;
    height: 250px;
    background: rgb(108,213,215);
    background: linear-gradient(90deg, rgba(108,213,215,1) 0%, rgba(119,218,219,1) 35%);
    border: none;
    outline: none;
    border-left: 5px transparent;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 30px;
}

::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

input:hover,
input:active,
textarea:hover,
textarea:active{
    border-left: 5px solid #355b82;
    background-color: #00c4c4;
}

.button_send_data {
    display:block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    background-color: #058585;
    box-shadow: 0 3px 5px #058585;  
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    color:#fff ;
    text-align: center;
    border: none;
    
}

/* .button_send_data a {
    font-weight: 300;
    font-size: 20px;
    color:#fff ;
 
} */

.button_send_data:hover {
    background-color: #0a6e6e;
    box-shadow: 0 3px 5px #0a6e6e;
}

.address_data {
    width: 500px;
}

.address_data a {
    text-decoration: none;
    color: #262626;
}

dt {
    font-size: 17px;
    font-weight: 700;
    padding-top: 8px;
}

dd {
    font-size: 20px;
    padding-top: 2px;
    margin-bottom: 5px;
}

footer {
    background-color: #262626;
}

.wrap_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 22px;  
    color: #fff;
}

footer .text {
    font-weight: 300;
    font-size: 16px;
    color: #b9b9b9;
}

footer .logo { 
    flex-grow: 0.1;
}
footer .note{
    font-weight: 300;
    font-size: 15px;
}

.text_pink {
    font-weight: 700;
    color: #ff2b58;
    font-size: 15px;
}
