* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

html,
body {
  width: 100%;
  height: 100%;
}

.section_tab {
  background-image: url("../img/Layer 41.png");
  background-color: #292d3e;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 146px;
  padding-bottom: 176px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fbfbfb;
  position: relative;
}

.header_wrap {
  background-color: #2b3040;
}
.header_wrap .tabs_list {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
.header_wrap .tabs_list li {
  line-height: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 28px;
  padding-bottom: 20px;
}
.header_wrap .tabs_list li .icon_design {
  width: 22px;
  height: 22px;
}
.header_wrap .tabs_list li .icon_design svg {
  width: 100%;
  height: 100%;
  fill: #8d91a3;
}
.header_wrap .tabs_list li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #b7bacd;
  font-size: 16px;
}
.header_wrap .tabs_list li:hover a {
  color: #fff;
}
.header_wrap .tabs_list li:hover svg {
  fill: #fff;
}
.header_wrap .tabs_list li.active {
  border-bottom: 1px solid #fff;
}
.header_wrap .tabs_list li.active a {
  color: #fff;
}
.header_wrap .tabs_list li.active svg {
  fill: #fff;
}

.tabs_block {
  background-color: #212534;
}
.tabs_block .content {
  display: none;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 38px;
}
.tabs_block .content.active {
  display: flex;
}
.tabs_block .content .pic_rating_wrap {
  width: calc(((100% * 166) / 514));
}
.tabs_block .content .pic_rating_wrap .pic {
  margin-top: 60px;
  margin-bottom: 20px;
}
.tabs_block .content .pic_rating_wrap .pic img {
  width: 100%;
  height: 100%;
}
.tabs_block .content .pic_rating_wrap .rating {
  text-align: center;
}
.tabs_block .content .text_wrap {
  width: calc((100% * 314) / 514);
}
.tabs_block .content .text_wrap .title_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}
.tabs_block .content .text_wrap .title_wrap h3 {
  padding-top: 8px;
  font-size: 32px;
  letter-spacing: -1px;
  color: #ffffff;
}
.tabs_block .content .text_wrap .title_wrap h4 {
  padding-top: 8px;
  font-size: 14px;
}
.tabs_block .content .text_wrap .title_wrap .beda {
  position: relative;
}
.tabs_block .content .text_wrap .title_wrap .beda .numb {
  position: absolute;
  left: 24px;
  top: 24px;
  font-size: 20px;
  color: #aaadbb;
}
.tabs_block .content .text_wrap p {
  padding-top: 28px;
  line-height: 22px;
  color: #b7bacd;
  font-size: 14px;
  margin-bottom: 40px;
}
.tabs_block .content .text_wrap .wrap_price_and_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.tabs_block .content .text_wrap .wrap_price_and_btn .sale {
  font-weight: 700;
  font-size: 12px;
  color: #fedc3f;
}
.tabs_block .content .text_wrap .wrap_price_and_btn .price {
  font-size: 32px;
  color: #fff;
}
.tabs_block .content .text_wrap .wrap_price_and_btn .btn {
  font-weight: 700;
  width: 164px;
  height: 56px;
  background-color: #13e28d;
  color: #fff;
  position: relative;
  border: none;
  margin-bottom: 60px;
  border-radius: 2px;
}

#ratings_info_tab,
#where_to_buy_tab {
  padding: 30px;
}