@import 'reset';

$fff_color: #fff;
$grey_color: #3c3c3c;
$fff_bgc:#fff;
$font_base:'Lato',
sans-serif;

body {
    font-family: $font_base;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}


.section1 {
    padding-top: 286px;
    padding-bottom: 114px;
    background-image: url('../img/hero-bg.jpg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $fff_color;

    .icon {
        margin-bottom: 80px;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
        font-size: 54px;
        letter-spacing: 9px;
    }

    p {
        text-transform: uppercase;
        font-weight: 15;
        padding-bottom: 236px;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 1px;
        margin-right: 0;
    }

    .mouse {
        margin: 0 auto;
        display: block;
        height: 40px;
        width: 24px;
        background: transparent;
        border: 3px solid #fff;
        position: relative;
        border-radius: 12px;

        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: 5px;
            left: 7.5px;
        }
    }
}

.section2 {
    background: $fff_bgc;
    padding-top: 160px;
    padding-bottom: 156px;
    color: $grey_color;
    text-align: center;

    .content {
        border: 1px solid $grey_color;
        padding-top: 40px;
        padding-bottom: 24px;
        position: relative;

        .title {
            position: absolute;
            top: -24px;
            right: 50%;
            transform: translateX(50%);
            z-index: 1;
            background: #fff;

            h2 {
                font-size: 34px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0 106px;
                letter-spacing: 5px;
            }
        }

        p {
            padding-top: 26px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.3px;
        }
    }
}

.section3 {
    background-image: url('../img/services.jpg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 108px;
    color: $fff_color;
    text-align: center;

    .content {
        border-right: 1px solid $fff_color;
        border-bottom: 1px solid $fff_color;
        border-left: 1px solid $fff_color;
        padding-top: 70px;
        padding-bottom: 30px;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: calc((100% * 246) / 900);
            background-color: $fff_color;
            position: absolute;
            top: 0;
        }

        &::after {
            left: calc((100% * 654) / 900);
        }


        .title {
            position: absolute;
            top: -21px;
            right: 50%;
            transform: translateX(50%);
            z-index: 1;

            h2 {
                font-size: 34px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0 106px;
                letter-spacing: 5px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            letter-spacing: 0.2px;
        }
    }
}

.section4 {
    background: $fff_bgc;
    padding-top: 120px;
    padding-bottom: 40px;
    color: $grey_color;
    text-align: center;


    .content {
        border: 1px solid $grey_color;
        padding-top: 18px;
        padding-bottom: 84px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .title {
            position: absolute;
            top: -20px;
            right: 50%;
            transform: translateX(50%);
            z-index: 1;
            background: $fff_bgc;

            h2 {
                font-size: 34px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0 70px;
                letter-spacing: 5px;
            }
        }

        .icon_design {
            margin-top: 106px;
            margin-bottom: 36px;
            width: 80px;
            height: 80px;

            svg {
                width: 100%;
                height: 100%;
            }

        }

        .icon_dev {
            margin-top: 106px;
            margin-bottom: 32px;
            width: 80px;
            height: 80px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .icon_product_management {
            margin-top: 92px;
            margin-bottom: 40px;
            width: 80px;
            height: 90px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        a {
            cursor: pointer;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 3px;
            margin-bottom: 26px;
            text-decoration: none;
            color: $grey_color;


            &:hover {
                font-size: 24px;
                border: 1px solid $grey_color;
            }
        }


        .product_management {
            margin-bottom: 36px;
        }


        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.1px;
        }
    }
}

.section5 {
    padding-top: 74px;
    padding-bottom: 40px;

    .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .long {
            width: calc(((100% * 800) / 1920) - 20px / 3); // width: 41.666%;
            height: 236px;
            margin-bottom: 10px;
            position: relative;

            img {
                width: 100%;
                height: 100%;

            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $fff_color;
                font-size: 34px;
                font-weight: 700;
                position: absolute;
                padding-left: 60px;
                bottom: 40px;
                left: 0;
                transform: scale(1);

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

        }

        .short {
            width: calc((100% - ((100% * 800) / 1920)) /2 - 20px / 3);
            height: 236px;
            margin-bottom: 10px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $fff_color;
                font-size: 34px;
                font-weight: 700;
                position: absolute;
                padding-left: 60px;
                bottom: 40px;
                left: 0;
                transform: scale(1);

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }

    }
}

.section6 {
    background: $fff_bgc;
    padding-top: 90px;
    font-family: 'Lato', sans-serif;
    color: $grey_color;
    text-align: center;

    .content {
        border: 1px solid $grey_color;
        padding-top: 68px;
        padding-bottom: 46px;
        position: relative;

        .title {
            position: absolute;
            top: -12px;
            right: 50%;
            transform: translateX(50%);
            z-index: 1;
            background: $fff_bgc;
            font-size: 30px;
            font-weight: 700;

            h2 {
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0 106px;
                letter-spacing: 5px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.1px;
            margin-bottom: 44px;
        }

        button {
            width: 90%;
            max-width: 400px;
            height: 60px;
            background-color: $grey_color;
            font-weight: 400;
            font-size: 16px;
            color: $fff_color;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
            transform: scale(1);

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}


footer {
    padding-top: 62px;
    padding-bottom: 50px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .icon_footer {
            display: block;
        }

        p {
            display: inline-block;
            font-weight: 400;
            font-size: 14px;
            color: $grey_color;
            padding: 10px;
            text-align: center;
        }
    }
}


@media screen and (max-width:1000px) {

    .section5 .flex .long,
    .section5 .flex .short {
        width: calc(50% - 5px);
    }

}

@media screen and (max-width:600px) {
    .section1 {
        padding-top: 200px;
        padding-bottom: 60px;
    }

    .section1 h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .section1 p {
        font-size: 16;
        padding-bottom: 136px;

    }
}

@media screen and (max-width:600px) {
    .section2 {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    .section2 .content .title h2 {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 30px;
    }
}

@media screen and (max-width:600px) {
    .section3 {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    .section3 .content .title h2 {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 30px;
    }
}

@media screen and (max-width:600px) {
    .section4 {
        padding-top: 90px;
        padding-bottom: 80px;
    }


    .section4 .content a {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .section4 .content .title h2 {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 30px;
    }
}

@media screen and (max-width:600px) {
    .section5 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .section5 .flex .long,
    .section5 .flex .short {
        width: 100%;
    }


    .section5 .flex .long a,
    .section5 .flex .short a {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

}


@media screen and (max-width:600px) {
    .section6 {
        padding-top: 90px;
        padding-bottom: 0px;
    }

    .section6 .content .title h2 {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 30px;
    }
}


@media screen and (max-width:400px) {
    footer {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}