@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  width: 100%;
  height: 100%;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  height: 50px;
  width: 196px;
  border: 1px solid #7d7a7c;
  display: block;
  margin: 94px auto 0;
  text-align: center;
}
.btn a {
  text-decoration: none;
  line-height: 46px;
  font-style: italic;
  font-size: 20px;
  color: #7d7a7c;
}
.btn:hover {
  box-shadow: 0 0 2px 5px #fff;
  font-weight: 700;
  border: 1px solid #fff;
}

.title {
  padding-top: 46px;
  text-align: center;
}
.title h3 {
  padding-top: 26px;
  font-family: "ProximaNova-Semibold";
  font-size: 36px;
  color: #fff;
}

body {
  font-family: "PT Sans", sans-serif;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

.menu_shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 10000;
}

.mobile_menu_block {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 100%;
  max-width: 400px;
  background-color: #ebebeb;
  box-shadow: 0 0 5px #000;
  transition: all 0.2s ease;
  z-index: 10001;
}

.open .menu_shadow {
  display: block;
}

.open .mobile_menu_block {
  left: 0;
}

.mobile_menu {
  height: calc(100% - 78px);
  overflow-y: scroll;
}
.mobile_menu li {
  border-bottom: 1px solid #5252b3;
}
.mobile_menu li a {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #232323;
  width: 100%;
}
.mobile_menu li a:hover {
  background-color: #bfe7f0;
  color: #fff;
}

.mmb_top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #b5b2d5;
  height: 78px;
}
.mmb_top .mm_logo {
  width: 50px;
  height: 50px;
}
.mmb_top .mm_logo svg {
  width: 100%;
  height: 100%;
}

header {
  min-height: 100vh;
}
header .bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header_top {
  height: 120px;
  position: fixed;
  width: 100%;
  transition: all 0.2s ease;
  z-index: 999;
  padding-top: 34px;
}
header .header_top .wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 26px;
}
header .header_top.fixed {
  height: 60px;
  box-shadow: 0 0 3px #999;
  backdrop-filter: blur(3px);
  padding-top: 10px;
  background-color: #b5b2d5;
}
header .header_top.fixed .logo {
  height: 40px;
  width: 40px;
}
header .header_top.fixed .main_menu ul {
  margin-top: 4px;
}
header .logo {
  height: 74px;
  width: 58px;
  padding-left: 5px;
}
header .logo svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
header .main_menu ul {
  display: flex;
  margin-top: 16px;
}
header .main_menu ul li {
  margin-right: 30px;
}
header .main_menu ul li:last-child {
  margin-right: 0;
}
header .main_menu ul li a {
  font-family: "ProximaNova-Semibold";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
}
header .main_menu ul li:hover {
  border-top: 2px solid #fff;
}
header .header_main {
  padding-top: 388px;
  padding-bottom: 512px;
  color: #fefefb;
  text-align: center;
}
header .header_main h2 {
  font-family: "ProximaNova-Bold";
  font-size: 72.22px;
  text-transform: uppercase;
}
header .header_main h3 {
  font-style: italic;
  font-size: 30.09px;
  padding-top: 12px;
  line-height: 36px;
}

.about {
  background-color: #ebebeb;
}
.about .wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 124px;
  padding-bottom: 120px;
}
.about .pic {
  position: relative;
  width: calc((100% * 376) / 1170);
}
.about .pic .wrap_img {
  width: 100%;
  height: 100%;
}
.about .pic .wrap_img img {
  width: 100%;
  height: 100%;
}
.about .pic .wrap_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 74px;
}
.about .pic .wrap_content .icon {
  width: 54px;
  height: 56px;
  margin: 0 auto;
}
.about .pic .wrap_content .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .pic .wrap_content h3 {
  padding-top: 36px;
  font-family: "ProximaNova-Semibold";
  font-size: 36px;
  color: #fefbfc;
}
.about .text {
  width: calc((100% * 635) / 1170);
  padding-top: 72px;
  color: #665f60;
  font-size: 20px;
  margin-right: 30px;
}
.about .text p {
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 23px;
}
.about .text p .bold {
  font-weight: 700;
}
.about .text p .italic {
  font-style: italic;
}
.about .text .btn_more {
  margin: 100px auto;
}

.services {
  background-color: #ebebeb;
}
.services .grid {
  display: grid;
  grid-template-columns: calc((100%* 380) /1170) calc((100%* 380) /1170) calc((100%* 410) /1170);
  grid-template-rows: 400px 400px;
}
.services .grid .icon {
  padding-top: 100px;
  margin: 0 auto;
  color: #665f60;
}
.services .grid .col_graphic {
  background-color: #dbdbdb;
}
.services .grid .col_web {
  background-color: #ebebeb;
}
.services .grid .col_seo {
  background-color: #ebebeb;
}
.services .grid .col_seo .icon {
  padding-top: 84px;
}
.services .grid .col_seo h3 {
  padding-top: 25px;
}
.services .grid .col_seo h4 {
  padding: 12px 90px;
}
.services .grid .col_mobile {
  background-color: #dbdbdb;
}
.services .grid .col_mobile .icon {
  padding-top: 84px;
}
.services .grid .col_mobile h3 {
  padding-top: 25px;
}
.services .grid .col_mobile h4 {
  padding: 12px 90px;
}
.services .grid .col_services {
  grid-column: 3/span 4;
  grid-row: 1/span 2;
  position: relative;
  background-color: #c1bfd9;
}
.services .grid .col_services .pic_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.services .grid .col_services .pic_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .grid .col_services .text {
  position: absolute;
  left: 0;
  top: 0;
  color: #fefcfd;
}
.services .grid .col_services .text .icon {
  padding-top: 114px;
  margin: 0 auto;
  color: #665f60;
}
.services .grid .col_services .text h3 {
  font-size: 35.94px;
  letter-spacing: 1.8px;
}
.services .grid .col_services .text h4 {
  padding: 106px 30px;
}
.services .col {
  text-align: center;
  padding-bottom: 120px;
}
.services .col .bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.services h3 {
  padding-top: 22px;
  font-size: 24px;
}
.services h4 {
  padding: 8px 90px;
  font-size: 18px;
  font-style: italic;
}

.works {
  overflow: hidden;
}
.works .bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.works .wrap_works {
  width: 90%;
  max-width: 730px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.works .wrap_works .title {
  padding-top: 50px;
}
.works .wrap_slider {
  padding-top: 60px;
  position: relative;
}
.works .wrap_slider .slider_item {
  height: 550px;
}
.works .wrap_slider .slider_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works .wrap_slider #slider_prev {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  left: -36%;
  width: 26px;
  height: 26px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
}
.works .wrap_slider #slider_next {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: -36%;
  width: 26px;
  height: 26px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-135deg);
}
.works .wrap_slider .lSSlideOuter .lSPager.lSpg > li.active a,
.works .wrap_slider .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #fff;
  border: 2px solid #fff;
}
.works .wrap_slider .lSSlideOuter .lSPager.lSpg > li a {
  background-color: transparent;
  border: 2px solid #fff;
}
.works .wrap_slider .lSSlideOuter .lSPager.lSpg {
  padding: 30px 0 0 0;
}
.works .wrap_slider .lSSlideOuter .lSPager.lSpg li {
  padding-left: 4px;
  padding-right: 4px;
}
.works .btn {
  margin-top: 48px;
  border: 1px solid #fff;
  color: #fff;
}
.works .btn:hover {
  box-shadow: 0 0 2px 5px #fff;
  font-weight: 700;
  border: none;
}

.team {
  overflow: hidden;
  background-color: #ebebeb;
  padding-bottom: 62px;
}
.team .title {
  padding-top: 52px;
}
.team .title h3 {
  color: #665f60;
}
.team .wrap_slider {
  width: calc((100% * 1110) / 1170);
  margin: 36px auto;
  position: relative;
}
.team .wrap_slider .lSSlideOuter .lSPager.lSpg {
  display: none;
}
.team .slider_item {
  height: 500px;
  border: 1px solid #000;
}
.team .slider_item .null {
  width: 100%;
  background-color: #ebebeb;
  height: calc((100% * 146) / 500);
  position: relative;
}
.team .slider_item .null .wrap_pic {
  width: calc((100% * 260) / 354);
  position: absolute;
  left: 50%;
  top: 92%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.team .slider_item .null .wrap_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 14px solid #ebebeb;
}
.team .slider_item .content {
  width: 100%;
  background-color: #fff;
  height: calc((100% * 354) / 500);
  position: relative;
  text-align: center;
}
.team .slider_item .content h3 {
  padding-top: 156px;
  font-family: "ProximaNova-Bold";
  font-size: 24px;
  color: #9f9acf;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.team .slider_item .content h4 {
  font-style: italic;
  font-size: 24px;
  padding-bottom: 40px;
  color: #665f60;
}
.team .slider_item .content .wrap_socials ul {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #9f9acf;
  width: 100%;
}
.team .slider_item .content .wrap_socials ul li {
  width: 34px;
  height: 34px;
  margin: 18px 12px;
  background-color: #9f9acf;
}
.team .slider_item .content .wrap_socials ul li svg {
  width: 100%;
  height: 100%;
  fill: #ebebeb;
  border-radius: 50%;
  transform: scale(1);
}
.team .slider_item .content .wrap_socials ul li :hover svg {
  transform: scale(1.2);
  border: 1px solid #fff;
}
.team #slider_prev_team {
  position: absolute;
  top: 50%;
  left: -66px;
  width: 26px;
  height: 26px;
  border-bottom: 2px solid #676061;
  border-left: 2px solid #676061;
  transform: rotate(45deg);
  margin: 0 auto;
}
.team #slider_next_team {
  position: absolute;
  top: 50%;
  right: -66px;
  width: 26px;
  height: 26px;
  border-bottom: 2px solid #676061;
  border-left: 2px solid #676061;
  transform: rotate(-135deg);
  margin: 0 auto;
}

.contact {
  overflow: hidden;
  position: relative;
}
.contact .title {
  padding-top: 55px;
}
.contact .title h3 {
  padding-top: 16px;
}
.contact .bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .form_data {
  width: 90%;
  max-width: 862px;
  margin: 0 auto;
}
.contact .wrap_form {
  padding-top: 240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /**/
}
.contact .wrap_form .wrap_input {
  position: relative;
  margin-top: 24px;
  width: calc(50% - 15px);
}
.contact .wrap_form .has_err input,
.contact .wrap_form .has_err textarea {
  border: 1px solid red;
}
.contact .wrap_form .form-text {
  color: red;
}
.contact .wrap_form input {
  width: 100%;
  height: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font-style: italic;
  font-size: 18px;
  outline: none;
  padding-left: 20px;
  border-radius: 2px;
  border: 1px solid transparent;
  z-index: 1;
}
.contact .wrap_form input:focus {
  box-shadow: 0 4px 8px #fff;
  border: 1px solid #fff;
}
.contact .wrap_form input:hover {
  box-shadow: 0 4px 8px #fff;
  border: 1px solid #fff;
}
.contact .wrap_form .placeholder {
  position: absolute;
  top: 28px;
  left: 4px;
  transform: translateY(-50%);
  color: #fff;
  font-style: italic;
  font-size: 18px;
  padding-left: 20px;
}
.contact .wrap_form .star {
  color: #817c80;
}
.contact .wrap_form .form-control:focus + .placeholder,
.contact .wrap_form .form-control:not(:placeholder-shown) + .placeholder {
  display: none;
}
.contact .wrap_form .form_textarea {
  position: relative;
  margin-top: 29px;
  width: 100%;
}
.contact .wrap_form textarea {
  width: 100%;
  height: 200px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font-style: italic;
  font-size: 18px;
  outline: none;
  padding-left: 20px;
  padding-top: 24px;
  border-radius: 2px;
  z-index: 1;
}
.contact .wrap_form textarea:focus {
  box-shadow: 0 4px 8px #fff;
  border: 1px solid #fff;
}
.contact .wrap_form textarea:hover {
  box-shadow: 0 4px 8px #fff;
  border: 1px solid #fff;
}
.contact .wrap_btn {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 54px;
}
.contact .wrap_btn .button_send_msg {
  width: 290px;
  height: 70px;
  border: none;
  border-bottom: 2px solid #8783b0;
  background-color: #9f9acf;
  font-family: "ProximaNova-Bold";
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 2px;
  cursor: pointer;
}
.contact .wrap_btn .button_send_msg:hover {
  box-shadow: 0 4px 8px #fff;
  border: 1px solid #fff;
}
.contact .address {
  display: flex;
  position: absolute;
  right: 0;
  top: 220px;
  transition: margin-right 2s ease-in-out;
  transform: translateX(74%);
}
.contact .address:hover {
  transform: translateX(0%);
}
.contact .address .icon {
  width: 90px;
  height: 90px;
  background-color: #9f9acf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact .phone {
  display: flex;
  position: absolute;
  right: 0;
  top: 310px;
  transition: margin-right 2s ease-in-out;
  transform: translateX(74%);
}
.contact .phone:hover {
  transform: translateX(0%);
}
.contact .phone .icon {
  width: 90px;
  height: 90px;
  background-color: #9f9acf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact .text_address,
.contact .phone_address {
  width: 256px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding-top: 12px;
}
.contact .text_address a,
.contact .phone_address a {
  text-decoration: none;
  font-size: 18px;
  color: #665f60;
}
.contact .text_address a:hover,
.contact .phone_address a:hover {
  font-weight: 700;
}
.contact .to_top {
  width: 86px;
  height: 86px;
  background-color: #b3afd4;
  position: absolute;
  right: 87px;
  bottom: 46px;
  text-decoration: none;
  font-size: 70px;
  cursor: pointer;
}
.contact .to_top div {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}
.contact .to_top div::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 22px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-135deg);
}
.contact .to_top:hover {
  box-shadow: 0 3px 6px #fff;
}

footer {
  background-color: #9f9acf;
}
footer .wrap {
  padding-top: 56px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .wrap .text {
  width: 50%;
  font-weight: 700px;
  font-size: 18px;
  color: #fff;
  padding-top: 20px;
  padding-left: 36px;
  letter-spacing: 0.3px;
}
footer .wrap .wrap_socials {
  width: 50%;
}
footer .wrap .wrap_socials ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 30px;
}
footer .wrap .wrap_socials ul li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #9f9acf;
  margin: 20px 17px 20px 6px;
  cursor: pointer;
}
footer .wrap .wrap_socials ul li:last-child {
  margin: 20px 0 20px 6px;
}
footer .wrap .wrap_socials ul li svg {
  width: 100%;
  height: 100%;
  fill: #ebebeb;
  border-radius: 50%;
  transform: scale(1);
}
footer .wrap .wrap_socials ul li :hover svg {
  transform: scale(1.2);
  border: 1px solid #fff;
}

/*для шапки*/
@media screen and (max-width: 800px) {
  .main_menu {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
}
/**home*/
@media screen and (max-width: 800px) {
  header .header_main h2 {
    font-size: 32px;
  }

  header .header_main h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  header .header_main {
    padding-top: 300px;
    padding-bottom: 310px;
  }

  header .header_main h2 {
    font-size: 22px;
  }
}
/*/2*/
@media screen and (max-width: 1050px) {
  .about .text {
    margin-right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .about .text {
    padding-top: 0;
  }
}
@media screen and (max-width: 800px) {
  .about .wrap {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 60px;
  }

  .about .pic .wrap_img {
    width: 100%;
    margin-bottom: 14px;
  }

  .about .pic .wrap_content {
    padding-top: 14px;
  }

  .about .pic .wrap_content h3 {
    font-size: 16px;
    padding-top: 16px;
  }

  .about .text {
    width: 100%;
  }

  .about .text .btn_more {
    margin: 40px auto;
  }
}
/*3*/
@media screen and (max-width: 900px) {
  .services .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .services .grid .col_services {
    grid-column: 1/span 2;
    grid-row: 2/3;
  }

  .services .grid .col_services .text .icon {
    padding-top: 40px;
  }

  .services .grid .col_services .text h4 {
    padding: 40px 20px;
  }

  .services .grid .col_services .pic_wrap img {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .services .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .services .grid .col_graphic {
    grid-row: 1/2;
  }

  .services .grid .col_web {
    grid-row: 2/3;
  }

  .services .grid .col_services {
    grid-row: 3/4;
  }

  .services .grid .col_seo {
    grid-row: 4/5;
  }

  .services .grid .col_mobile {
    grid-row: 5/6;
  }
}
/*4*/
@media screen and (max-width: 1270px) {
  .works .wrap_slider #slider_prev {
    left: -10%;
  }

  .works .wrap_slider #slider_next {
    right: -10%;
  }
}
@media screen and (max-width: 900px) {
  .works .wrap_slider #slider_prev {
    left: 3%;
  }

  .works .wrap_slider #slider_next {
    right: 3%;
  }
}
@media screen and (max-width: 600px) {
  .works .wrap_slider .slider_item {
    height: 320px;
  }
}
/*5*/
@media screen and (max-width: 730px) {
  .team .slider_item .null .wrap_pic {
    width: calc((100% * 160) / 354);
  }
}
/*6*/
@media screen and (max-width: 700px) {
  .contact .wrap_form .wrap_input {
    width: 100%;
  }

  .contact .to_top {
    right: 50%;
    transform: translateX(50%);
    bottom: 10px;
  }

  .contact .wrap_btn {
    padding-bottom: 120px;
  }
}
/*footer*/
@media screen and (max-width: 780px) {
  footer .wrap .text {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }

  footer .wrap .wrap_socials {
    width: 100%;
  }

  footer .wrap .wrap_socials ul {
    justify-content: center;
    padding-right: 0;
  }
}