@font-face {
    font-family: 'Futura PT';
    src: url(../font/futura-pt-heavy.woff2) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../font/PlayfairDisplay-Regular.woff2') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Proxima-nova-regular';
    src: url('../font/proxima-nova-regular.woff2') format('woff');
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #464f54;
    color: #2a2a2a;
   
}
.container {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;   
}
/* title*/

.title_menu {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    position: fixed;
    width: 68%;
    height: 258px;
    right: 0;
    top: 50px;
}

.title_search {
    background-color: #181818;
    width: 100%;
    height: 188px;
    /* font-family: 'PlayfairDisplay'; */
    position: relative;
}

label {  
    display: block;
    color: #767676;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Proxima-nova-regular';
    margin-left: 65px;
    margin-top: 44px;
    letter-spacing: 4px;
  
}

input {
    font-family: 'PlayfairDisplay';
    font-size: 48px;
    color: #fefefe;
    background-color: #181818; 
    margin-left: 65px;
    width: 800px;
    border:none;
    border-bottom:1px solid #303030;
    position: absolute;
    bottom: 63px;
}

input,textarea {
  outline:none;
}


.control_bar {
    display: flex;
    background-color: #fbc02d;
    height: 74px;
    width: 94%;
    right: 0;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 40px;
}

li {
    width: 58px;
    height: 70px;
    position: relative;
}
a {
    display: inline-block;
    color:#fefefe;
    font-size: 38px;   
    opacity: 0.5;
   position: absolute;
    bottom: 6px;
    cursor:pointer;
    
}

a:hover {
    opacity: 1;
    font-weight: bold;
}


/*страница*/

.page{
    margin-top: 150px; 
}
.content {
    display: flex;
    background-color: #fff;
    box-shadow: 0 3px 5px #303a3f;
}

.content_text {
    width: 990px;
    padding: 190px 130px 190px 50px;
}

.content_indent{
    width: 70px;
    border-right: 3px solid #e8eced; 
}


h2 {  
    color: #b4b4b4;
    font-size: 19.84px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family:'Proxima-nova-regular';
    padding-top: 5px;
    
 
}

.my_t {    
    font-size: 77.93px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-family: 'Futura PT';
    letter-spacing: 4px;  
    padding-top: 20px;
}

.my_span {                  /*как его поднять?*/
    font-size: 30px;
    color:#8f8f8f;
    font-style: italic;
    font-family: 'Futura PT';
    font-weight: 300;
    margin-bottom: 18px;
    position: relative;
    top: -12px;
}

.text_italic {
    font-style: italic;
}
p {
    font-size:26.92px ;
    color: #000;
    font-family: 'Proxima-nova-regular';  
    padding-top: 22px;
    line-height: 40px;
    font-weight: 300;
}

wbr { display: inline-block; }